.circle {
    position: relative;
	/* when changing this, also change circle_item.setAttribute in main.js to half of width/height! */
    width: 260px; 
    height: 260px;
    padding: 0;
    margin: 10px 30px;
}
.circle li {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 3px; height: 3px;
    margin: 0;
}

.castling {
	font-size: 50%;
    margin: 20px -20px !important;
}

/* for showing info in the middle of ring */
.centerselection {
	display: block;
	text-align: center;
	line-height: 330px;
	width: 310px;
	color: #ccc;
	font-size: 140%;
}