html,
body {
    width: 360px;
    height: 360px;
    margin: 0;
    padding: 0;
    background-color:#222;
	font-weight:bold;
	font-size:60px;
  	color:#fff;
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

#content {
    height: 100%;
    width: 100%;
    text-align: center;
	position: relative;

}

#enginemove {
	color: #1aa9bc;
	--scale: 1.5;
}

#message {
	font-size: 70%;
}

#pgn, .optionsList {
	margin-top: 10%;
    text-align: center;
	height: 100%;
    font-size: 30%;
    display: inline-block;
}

#highscore {
	padding-top: 20%;
    text-align: center;
    font-size: 60%;
    display: block
}

.center {
	--y: -50%;
	--x: -50%;
	--scale: 1;
    top: 180px; /* half of body size */
    transform: translate(var(--x),var(--y)) scale(var(--scale));
    position:absolute;
    z-index: 1;
}

.inCheck{
    color: #84250d !important;
}

#debug {
  	color:#fff;
	font-size: 30%;
	width: 1440px;
}

.debug {
	border-radius: 50%;
	border: 5px solid red;
}
  
.debugItem {
	width: 50%;
	display: inline;
}

pre {
  font-family: monospace; 
  padding: 10px;
}

.startmenu {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.menuentry {
	line-height: 180px; /* half of body size */
}

.upperMenu {
	background-color: white !important;
	color: #222;
}
.lowerMenu {
	background-color: #222 !important;
	color: white;
}

.icon {
	fill: currentColor;
	height: 50px;
	width: 50px;
}

.nodescending {
	padding-bottom: 5%;
}