html,
body {
    width: 360px;
    height: 360px;
    margin: 0;
    padding: 0;
    background-color:#222;
	font-weight:bold;
	font-size:60px;
  	color:#fff;
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

#content {
    height: 100%;
    width: 100%;
    text-align: center;
	position: relative;

}

#enginemove {
	color: #1aa9bc;
	--scale: 1.5;
}

#innerscore {
}

#message {
	font-size: 70%;
}

#pgn, #highscore {
	margin-top: 10%;
    text-align: center;
	height: 100%;
    font-size: 30%;
    display: inline-block;
}

.center {
	--y: -50%;
	--x: -50%;
	--scale: 1;
    top: 180px; /* half of body size */
    transform: translate(var(--x),var(--y)) scale(var(--scale));
    position:absolute;
    z-index: 1;
}

.inCheck{
    color: #84250d !important;
}

#debug {
  	color:#fff;
	font-size: 30%;
}

pre {
  font-family: monospace; 
  padding: 10px;
}

.startmenu {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.menuentry {
	line-height: 180px; /* half of body size */
}

.upperMenu {
	background-color: white !important;
	color: #222;
}
.lowerMenu {
	background-color: #222 !important;
	color: white;
}

.icon {
	fill: currentColor;
	height: 50px;
	width: 50px;
}

.settingsList {
	list-style-type: none;
	font-size: 20px;
	width: 80%;
}

.settingsText {
	width: 80%;
	float: left;
	line-height: 50px;
	text-align: left;
}

.toggle {
	height: 50px;
	width: 50px;
	vertical-align: middle;
}

.toggle_off {
	fill: #444;
}

.toggle_on {
	fill: #fff;
}

#board { 
	color: #222;
	margin: 60px 40px;
}

#board td {
    background:#fff; 
	text-align:center; 
	vertical-align:middle; 
	font-weight: normal;
	font-size: 20px; height: 30px; width: 30px; /* set minimum cell dimension for empty cells */
}

#board tr:nth-child(odd) td:nth-child(odd),
#board tr:nth-child(even) td:nth-child(even) {
	background:#ccc;
}

#board tr td:first-child,
#board tr:last-child td {
	background-color: #222 !important;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}
