* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background-color:#222;
	font-weight:bold;
	font-size:4em;
  	color:#fff;
}

#content {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:360px;
	width: 360px;
	text-align: center;
	vertical-align: center;
}

#enginemove {
	text-align: center;
	line-height: 300px;
	color: #1aa9bc;
}

#message {
	text-align: center;
	width: 100%;
	font-size: 70%;
}

.inCheck{
	color: red !important;
}

#debug {
  	color:#fff;
	font-size: 30%;
}

pre {
  font-family: monospace; 
  padding: 10px;
}

#startmenu {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.menuentry {
    padding: 0;
    display: block;
    width: 360px;
    height: 180px;
    text-align: center;
	line-height: 180px;
}

.chooseWhite {
	background-color: white !important;
	color: #222;
}
.chooseBlack{
	background-color: #222 !important;
	color: white;
}
.chooseLoad{
	background-color: #222 !important;
	color: white;
}
.chooseNG {
	background-color: white !important;
	color: #222;
}

#selectedSelection {
	color: #bc6609;
	fill: #bc6609;
}

.icon {
	fill: currentColor;
	height: 50px;
	width: 50px;
}

#board { 
	color: #222;
	margin: 60px 70px;
}

#board td {
    background:#fff; 
	text-align:center; 
	vertical-align:middle; 
	font-weight: normal;
	font-size: 20px; height: 30px; width: 30px; /* set minimum cell dimension for empty cells */
}

#board tr:nth-child(odd) td:nth-child(even),
#board tr:nth-child(even) td:nth-child(odd) {
	background:#ccc;
}
