<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/GearChess" version="1.0.0" viewmodes="maximized">
    <tizen:application id="oZcb15shHq.GearChess" package="oZcb15shHq" required_version="4.0"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>GearChess</name>
    <tizen:profile name="wearable"/>
</widget>
